body {
  background: white;
  font: 16px/1.6em  Helvetica, sans-serif;
  margin: 20px;
  padding: 10px;
	margin-bottom: 50px;
}

.header-img {
  width:700px;
  height: auto;
}

.main-container {
  margin: auto;
  width: 900px;
  position: relative;
  padding-right: 250px;
}

#table {
  padding-bottom: 10px;
  padding-top: 10px;
}

#viz-histogram-container {
  /*display: block;*/
  /*padding: 10px;*/
	display: flex;
  flex-wrap: wrap;
	flex-grow: 0;
	justify-content: left;
  border: 0px solid grey;
	width: 900px;
  margin-top: 0px;
}

.histogram-small {
  border: 0px solid grey;
	background: Aliceblue;
	width: 270px;
	margin: 5px;
}

#viz-dotplot-container {
  /*display: block;*/
  /*padding: 10px;*/
	display: flex;
  flex-wrap: wrap;
	flex-grow: 1;
	justify-content: center;
  border: 0px solid grey;
	width: 900px;
  margin-top: 2px;
}

.dotplot-small {
  border: 0px solid grey;
	background:white;
	width: 200px;
	height: 200px;
	margin: 5px;
}


#viz-usvsworld-container {
	display: flex;
  flex-wrap: wrap;
	flex-grow: 0;
	justify-content: center;
  /*display: block;*/
  /*padding: 10px;*/
  border: 0px solid grey;
	width: 800px;
  margin-top: 2px;
}


pre {
	padding-left: 20px;
	font-size: 14px;
}

#attempt1 {
  margin-top: 40px;
}

pre {
	padding-left: 20px;
	font-size: 14px;
}
